body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow: hidden;
    height: 100vh;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .main-header .logo {
    font-size: 24px;
    font-weight: bold;
    color: coral;
  }
  
  .main-header nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .main-header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .main-header nav ul li a:hover {
    color: coral;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-image: url('../imagens/background.jpg'); 
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    z-index: -1;
  }

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.hero {
    background-image: url('../imagens/background.jpg');
    background-size: cover;
    background-position: center;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 42px;
    margin: 0;
    
}

.hero p {
    font-size: 16px;
    margin: 10px 0 20px;
    max-width: 500px;
}

.search-box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.hero input {
    padding: 10px;
    width: 230px;
    border: none;
    border-radius: 5px;
}

.hero button {
    padding: 10px 20px;
    background-color: coral;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.services {
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding: 10px 40px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 20px;
}

.service-box {
    flex: 1 1 20%;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
}

.service-box h3 {
    margin-bottom: 10px;
    color: coral;
}

.service-box a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: underline;
}

.icon {
    font-size: 36px;
    color: coral;
}